/* .jobs {
    margin: 20px 0px;
} */
/* .title {
    font-size:1.1vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 250;
}
.title p {
    font-size: 1.5vw;
    font-weight: 550;
} */
