*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
         
}
:root {
    --primary-color:  rgba(255, 250, 250, 0.788);
    --secondary-color:rgba(235, 224, 72, 0.801);
    --bg-color: rgba(211, 238, 235, 0.856);
}
/*code for nav bar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 25px rgba(2, 2, 12, 0.952);
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: #eff1f1;
   /* background-image: url(../images/placeholder3.png);
    background-size: cover;
    background-attachment: fixed;*/
}
nav ul li {
display: inline;
font-size: 25px;
padding: 5px 20px;
border-radius: 25px;
margin: 5px;
background-color: rgba(118, 224, 97, 0.932);


}

nav ul li a {
    margin: 15px;
    font-family:cursive;
    font-size: 17px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0 0 20px rgb(253, 250, 82);
}

nav h1 {
    color:var(--secondary-color);
    font-size: 35px;
    font-family:cursive;
    font-weight: 600;
    text-shadow: 0 0 20px rgba(27, 245, 63, 0.932);
}

nav ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}

/* code for hero */
.hero-txt {
    color:#f3f3f3;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    text-shadow: 2 2 10px rgba(0, 0, 0, 0.3);
    align-items:flex-end;
    padding: 10px;
    font-family:cursive;
    display: flex;
    flex-wrap: wrap;
}


.hero {
    display: flex;
    padding: 20px 20px 20px 30px;
    background-attachment: fixed;
    background-image: url(../images/placeholder6);
    justify-content: space-between;
    width: 100%;
    height: 325px;
    background-color: rgb(236, 232, 232);
}

.hero img {
    border-radius: 50%;
    width: 285px;
    height: 285px;
}

/* Code For About Me Section*/
.about-me-layout {
    display: flex;
    justify-content:space-around;
    flex: 1 70;
    width: 100%;
    padding: 25px 25px 5px 25px;
    
}

.about-me-title {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:flex-start;
    font-size: 25px;
    font-family: cursive;
    font-weight: 700;
    width: 220px;
    height: 220px;
    text-shadow: 0 0 8px rgba(143, 241, 159, 0.932);
    color:var(--secondary-color);
    background-size: cover;
    border-right:solid rgba(10, 10, 10, 0.438) 5px;
    text-align: right;
    padding: 0 10px 0 0;
}

.intro-txt {
    padding: 25px 25px 25px 25px;
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px 25px 0;
    font-size: 20px;
    box-shadow: 0 0 25px rgba(20, 20, 233, 0.459);
    border-radius: 5px;
    background-color: rgba(130, 212, 144, 0.26);
    text-align: left;
    line-height: 1.7;
    height: 260px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 10px 15px 35px;
    flex: 1;
    }


.intro-txt p {
     padding: 5px 5px 0 15px;
}

    /* Code for My work Section*/
.my-work {
    display: flex;
    justify-content:first baseline;
    flex: 1 70;
    width: 100%;
    height: auto;
    padding: 10px;
    background-attachment: fixed;
        
    }

.my-work-title {
    display: flex;
    justify-content:center;
    align-items:flex-start;
    font-size: 25px;
    font-family: cursive;
    font-weight: 700;
    width: 220px;
    height: 625px;
    text-shadow: 0 0 8px rgba(27, 245, 63, 0.932);
    color:var(--secondary-color);
    background-size: cover;
    border-right:solid rgba(10, 10, 10, 0.438) 5px;
    text-align: right;
    padding: 0px 10px 0 0;
    margin: 10px 0 0 5px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 70%;
}

.project-layout {
margin: 0px 20px 0 25px;
padding: 5px;
}

.project-1 {
    height: 200px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-image:url(../images/placeholder3.png);
    background-size: cover;
    padding: 10px;
    margin: 15px 0 0 0;
    border-radius: 5%;

}

.project-1 h3 {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 650;
    color:var(--primary-color);
    display: flex;
    align-items: center;
}

/* Code for contact section*/
.contact-me{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex: 1 70;
    width: 100%;
    height: auto;
    padding: 25px;
   
}

.contact-me div {
    border: none;
}

.contact-me h2 {
    display: flex;
    font-size: 48px;
    font-family: cursive;
    font-weight: 700;
    width: 300px;
    height: 70px;
    text-shadow: 0 0 8px rgba(27, 245, 63, 0.932);
    color:var(--secondary-color);
    margin: 0 0 20px 8px;
    background-color: grey;
    justify-content: center;
    border-radius: 15px;
    box-shadow:0 0 8px rgba(31, 240, 66, 0.911);
  }
.contact-list {
   display:inline;
   width: 600px;
   margin: 0 0 15px 0;
   color:rgba(255, 255, 255, 0.863) ;
   background-color: grey;
    text-align: center;
}
   .contact-list ul li {
    display: inline;
    font-size: 15px;
    font-family: cursive;
    margin: 0px;
    padding: 0 0 5px 30px;
    text-decoration: none;
}

.contact-list ul li a {
    text-decoration: none;
    color: rgb(14, 12, 12);
    padding: 15px;
}
/*Contact Form Code*/
.contact-form h3 {
 color: rgb(248, 247, 247);
 font-size: 25px;
 font-family: cursive;
margin: 5px 0 10px 20px;
}


.contact-form {
    background-color: lightgray;
    width: 570px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.contact-form label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(250, 252, 252);
    margin-left: 25px;
    padding: 15px 0 15px 0;
}
.contact-form input, .contact-form textarea {
    border: 1px solid lime;
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    color: #000;
    width: 89%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 25px;
    border-radius: 15px;
    background-color: rgba(234, 240, 239, 0.753);
    
  }

  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    background-color: rgba(135, 135, 175, 0.75);
  }

 .contact-form button{
    width: 20%;
    border: none;
    background:var(--secondary-color);
    color: rgb(64, 161, 206);
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(31, 204, 31, 0.678);
    margin: 0 0 65px 25px;
  }

  .contact-form button:hover {
    color: rgba(113, 113, 211, 0.87);
    background: var(--tertiary-color);
  }
  