
#name{
    font-family:cursive;
}
header {
    background-image: url("../images/pexels-photo-561463.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero{
    background-image: url("../images/pexels-photo-561463.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}